extends layout

block content
  a(href='https://github.com/carlosesteven/blockchain-demo-usc')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    iframe(width="476" height="288" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://usceduco7466-my.sharepoint.com/personal/carlos_cancimance00_usc_edu_co/_layouts/15/Doc.aspx?sourcedoc={b56a7e20-133a-41ee-9684-18ff6eb6ad1a}&amp;action=embedview&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1")
    br
    p by 
      a(href='https://csc-lab.xyz') Carlos Cancimance 
      | Talento Tic
    br
    p by 
      a(href='https://csc-lab.xyz') Carlos Cancimance 
      | Talento Tic
    br
    p.pull-right by 
      a(href='https://csc-lab.xyz') Carlos Cancimance 
      | Talento Tic