extends layout

block content
  a(href='https://github.com/carlosesteven/blockchain-demo-usc')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/EZ5nN2eVBLhIue-knNSOATABIo494PtXYdQ3QdJuCLCaQw'): Presentación #1
    br
    a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/ESB-arU6E-5BloQY_262rRoBRm-4lX1GYRIW1P4alZwRtg'): Presentación #2
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://usceduco7466-my.sharepoint.com/personal/carlos_cancimance00_usc_edu_co/_layouts/15/Doc.aspx?sourcedoc={b56a7e20-133a-41ee-9684-18ff6eb6ad1a}&amp;action=embedview&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1')
    br
    p.pull-right by 
      a(href='https://csc-lab.xyz'): Carlos Cancimance 
      | Talento Tic - 2022
