extends layout

block content
  a(href='https://github.com/carlosesteven/blockchain-demo-usc')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    br
    h3 Lista de Presentaciones
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/EZ5nN2eVBLhIue-knNSOATABIo494PtXYdQ3QdJuCLCaQw') Presentación #1
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/ESB-arU6E-5BloQY_262rRoBRm-4lX1GYRIW1P4alZwRtg') Presentación #2
    br
    br
    p.pull-right 
      a(href='https://csc-lab.xyz') Carlos Cancimance 
      | Talento Tic