extends layout

block content
  a(href='https://github.com/carlosesteven/blockchain-demo-usc')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Curso Blockchain
    h3 Lista de Presentaciones
    hr
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/EZ5nN2eVBLhIue-knNSOATABIo494PtXYdQ3QdJuCLCaQw') Presentación #1
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/ESB-arU6E-5BloQY_262rRoBRm-4lX1GYRIW1P4alZwRtg') Presentación #2
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/EZbLXFqA3e9JnBRXpKY1V_QBHuTWsTKNYO44oGRM0j7Gbw') Presentación #3
    hr
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/ETE3ecmmrO1Dpl1C2lDHad8BGikbB6aEGANRujLlKAprHA') Presentación #4
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/ERuPEL0nc3tOo2u3aQv-ozABtujIvTSw3TcAB9ckYMbZEA') Presentación #5
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/Ef0J8PR8LEZPtJ7rDlARhN0BQAIuS_zz8lIraEULWb57Bw?e=7h3eK8') Presentación #6
    hr
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/ESgAjSAHi5tJlvw-sSOv_q4BZlW1yIqMisSWFi2N5hkn2g') Presentación #7
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:p:/g/personal/carlos_cancimance00_usc_edu_co/EU_bED_LaO9MhI3jJQ8xB3EB2TSxPm0m6EM9zJpRkbhmrQ?e=3NDoru') Presentación #8
    hr   
    p - 
      a(href='https://github.com/carlosesteven/blockchain-contratos') Codigo: Contratos Inteligentes
    br
    p - 
      a(href='https://github.com/carlosesteven/despliegue_contratos.git') Codigo: Despliegue Contratos Inteligentes
    br
    p - TOKEN KOBAN: 0xc06fDF7A5171177282502D83cbcf830b416eD3d8
    br
    p - 
      a(href='https://usceduco7466-my.sharepoint.com/:x:/g/personal/carlos_cancimance00_usc_edu_co/EUPPQKhlI0FMr_YNvwXFmhcB21exiSv__m9lOBuLvdZbCQ?e=630mpW') TOKEN KOBAN: Direcciones Billeteras
    hr 
    p.pull-right Por: 
      a(href='https://csc-lab.xyz') Carlos Cancimance 
      | - Talento Tic 2022